/*--------- COLORS ----------*/
$primer--color: #55d0c5;
$second--color: #434343;
$third--color: #f9cb3a;

.txt--color--black { color: #434343;}
.txt--color--white { color: white;}
.txt--color--primary { color: #55D0C5;}


.primary--color { background-color: #55D0C5; }
.content--color { background-color:  #FFFFFF}