/*--------- ICONS ----------*/

.icon--home {
    background: url(./assets/grid.svg) no-repeat center left;
    background-size: 24px;
}
.icon--adherant {
    background: url(./assets/user.svg) no-repeat center left;
    background-size: 24px;
}
.icon--dons {
    background: url(./assets/heart.svg) no-repeat center left;
    background-size: 24px;
}
.icon--documents {
    background: url(./assets/upload.svg) no-repeat center left;
    background-size: 24px;
}
.icon--articles {
    background: url(./assets/articles.svg) no-repeat center left;
    background-size: 24px;
}

.icon--facebook {
    background: url(./assets/facebook.svg) no-repeat center;
}

.icon--instagram {
    background: url(./assets/instagram.svg) no-repeat center;
    background-size: 19px;
}

.icon--adherant-white {
    background: url(./assets/user-w.svg) no-repeat center left;
    background-size: 24px;
}

.icon--menu {
    background: url(./assets/menu.svg) no-repeat center;
}

.icon--facebook-white {
    background: url(./assets/facebook-w.svg) no-repeat center;
}

.icon--instagram-white {
    background: url(./assets/instagram-w.svg) no-repeat center;
    background-size: 19px;
}

.icon--phone {
    background: url(./assets/phone.svg) no-repeat center left;
    background-size: 30px;
}

.icon--mail {
    background: url(./assets/mail.svg) no-repeat center left;
    background-size: 30px;
}

.icon--pin {
    background: url(./assets/pin.svg) no-repeat center left;
    background-size: 30px;
}

.icon--eye {
    background: url(./assets/eye.svg) no-repeat center right;
    height: 19px;
}

.icon--back {
    background: url(./assets/arrow-left-circle.svg) no-repeat center right;
}