/*--------- TYPO ----------*/

body, a { 
    font-family: 'Poppins', sans-serif;
    @extend .txt--color--black;
}

a { font-size: 16px; }

h3 {
    font: Bold 24px 'Poppins';
    @extend .txt--color--black;
    @extend .mb32;
}

.font--weight--bold {font-weight: bold;}